# env
.env
.env.*
!.env.example
!.env.production.example
!.envprod.example

client/.env
client/.env.*
!client/.env.example

server/.env
server/.envprod
server/.env.*
!server/.env.example
!server/.envprod.example

# certs
*.pem
*.key
*.crt
*.csr

# builds
dist
node_modules