PORT=4000
HTTPS_PORT=443
NODE_ENV=production

MONGO_URI=mongodb://server:CHANGE_ME@127.0.0.1:21771/WEBFINALPROJECT
JWT_SECRET=CHANGE_ME
JWT_REFRESH_SECRET=CHANGE_ME
GOOGLE_CLIENT_ID=CHANGE_ME

FRONTEND_URL=https://node16.cs.colman.ac.il